body {
   padding-top: 150px;
   padding-left: 3rem;
   padding-right: 3rem;
}

.movie-poster {
   width: 100%;
   max-width: 400px;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
}
.card-img-top {
   flex: 1;
}
.card-body {
   flex: 0;
}
.card-title {
   height: 2rem;
}
.card-text {
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 7; /* Limit the number of lines to display */
   -webkit-box-orient: vertical;
   height: 3lh;
   text-overflow: ellipsis;
   white-space: normal;
}

.movie-view-genres {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
}
.card-img-top,
.card-title {
   cursor: pointer;
}

.login-form {
   max-width: 400px;
   min-width: 300px;
   width: 100%;
   margin: 0 auto;
}
.small-text {
   font-size: 0.75rem; /* Adjust as needed */
}
.h-100 {
   height: 100%;
}
